
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main layout styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Move Menu Adjustment */
#move-menu{
    font-size: 24px;
    padding: 3px;
}

/* Sidebar styles */
.sidebar {
    background-color: #eee;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

/* Top bar styles */
.top-bar {
    background-color: #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main content area styles */
.main-content {
    flex-grow: 2;
    padding: 5px;
    background-color: #fff;
    transition: margin-left .1s ease-in-out;
}

/* Note section styles */
.note {
    height: 70vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Search form styles */
.search input{
    width: 100%;
    margin-left: 8px;
}
.search{
    display: flex;
    font-size: 24px;
}

/* Note list styles */
.note-list {
    list-style: none;
    overflow-y: auto;
    max-height: 800px;
}

.note-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.note-list li:hover {
    background-color: #e9e9e9;
}

/* Header and footer styles */
.header, .footer {
    text-align: center;
    padding: 10px;
}

/* Search and new note button styles */
.search input, .new-note-btn {
    padding: 5px;
    margin-bottom: 10px;
}

/* Note content styles */
.editable {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-x: auto;
    max-width: 160vh;
    border: 1px solid #ccc;
    padding: 10px;
    height: 93%;
}

/* Styles for note content */
.editable div {
    flex: 1;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: auto;
    max-width: 100%;
}

.editable h1 {
    margin-bottom: 10px;
}

.editable[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #888;
}

.note-item.active {
    background-color: #add8e6;
}

.main-container {
    display: flex;
    flex-grow: 1;
    height: calc(100% - 40px);
}

/* Note Toolbar Styles */
.note-toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.note-toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 32px;
    margin-left: 20px;
}

.resizable-img { /* Probably not useful anymore */
    resize: both;
    overflow: auto;
    max-width: 100%;
    max-height: 400px;
}

/* MOVE COMMANDS */
/* Keyframes for moving right */
@keyframes moveRight {
    from { transform: translateX(-100%); }
    to { transform: translateX(0%); }
}

/* Class for moving right animation */
.animate-right {
    animation: moveRight .1s forwards ease-in-out;
}

/* Keyframes for moving left */
@keyframes moveLeft {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

/* Class for moving left animation */
.animate-left {
    animation: moveLeft .1s forwards ease-in-out;
}

/* Mobile styles */
@media (max-width: 600px) {

/* Adjust styles for the top bar */
.top-bar {
    height: 50px;
}

/* Adjust sidebar styles for mobile */
.sidebar {
    position: absolute;
    z-index: 1000;
    height: 93vh;
    width: 100vw;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in-out;
}


/* Adjust main content for mobile*/
.main-content {
    position: relative;
    padding-left: 101vw;
    width: 100%;
    height: 100%;
}

/* Ensure editable takes full height available */
.editable {
    display: block;
    height: 100%;
    overflow-y: auto;
}

/* Style the title */
.editable h1 {
    margin-bottom: 10px;
}

/* Style the content */
.editable div {
    height: calc(100% - 12vh);
    overflow-y: auto;
}
}

/* Sidebar scrolling */
.sidebar.active {
transform: translateX(0);
}
